### variables
## variables is a storage container
## the container name is variable name

In [3]:
A= 2 #A,b is container name and 2,3 is a values that stored in container
b= 3
print(A*b)

6

## Datatypes
## numbers=integers
## letters=string

In [5]:
a= 1 #1 is a integer
b=("one")#one is string
print(type(a))
print (type(b))

<class 'int'>
<class 'str'>

### operator:

In [6]:
A=20
b=30
print(A+b) # addition
print(A-b) #subraction
print(A*b)#multipication
print(A/b)#divide

50
-10
600
0.6666666666666666

### casting:
## int
## input

In [20]:
#int
A=int("50")
B= int("20")
c=(A+B),(A-B),(A*B),(A/B)
print(c)

#input
A=input("?")
B= input("?")
c=(A+B)
print(c)

#int input
A=int(input("?"))
B= int(input("?"))
c=(A+B),(A-B),(A*B),(A/B)
print(c)

(70, 30, 1000, 2.5)

? hello
? world

helloworld

? 50
? 20

(70, 30, 1000, 2.5)

In [26]:
##eg:
##get input student name and age and print
sname=input("?")
sage=int(input("?"))
print("student name is:",sname)
print("student age is:",sage)

? john
? 22

student name is: john
student age is: 22

In [1]:
a=2
b=3
c=4

print(a*b*c)
print(a+b+c)
print (b-c/a)

24
9
1.0

##  strings

In [2]:
print ("the string are anything inside the quotes is consider as a string")

the string are anything inside the quotes is consider as a string

In [3]:
print("its in double quotes")
print('or in single quotes')

its in double quotes
or in single quotes

## how to know the type

In [4]:
text_1 =("hi buddy")
text_2 =('nolan')
text_3 = 4
print(type(text_1))
print(type(text_2))
print(type(text_3))

<class 'str'>
<class 'str'>
<class 'int'>

## change the case in string
*UPPER CASE
*lower case

In [5]:
university = ("anna university")
print (university)

anna university

In [9]:
print (university.title()) #to print 1st letter as lowercase
print (university.lower()) #to print full word as lowercase

Anna University
anna university

In [13]:
print (university.upper())

ANNA UNIVERSITY

## adding the strings

In [15]:
var_a = ("buddy")
var_b = ("jobin")
var_c = (var_a+" "+var_b)
print(var_c)

buddy jobin

In [17]:
print("hey "+ var_c)

hey buddy jobin

In [19]:
print("hey "+ var_c.title())
print ("HEY "+ var_c.upper())
print("hey "+ var_c.lower())

hey Buddy Jobin
HEY BUDDY JOBIN
hey buddy jobin

In [24]:
print("*") 
print ("\t *")#adding white space

*
	 *

In [28]:
print("* \n\t*\n\t*\n\t*\n\t*")

*
	*
	*
	*
	*

In [1]:
#get string length
a= "python"
print(len(a))

6

In [4]:
#to check character present in strings
a= "my name is sabarivasan "
print("name"in a)
print("hd"in a)

True
False

In [7]:
# if statement to check character prsesent in strings
a= "my name is jobin mark this my friend sabarivasan"
if "jobin"in a:
    print("true")
else:
     print("no")

true

In [8]:
# the character not present in strings(key words-not in)
a= "my name is jobin mark this my friend sabarivasan"
if "kks"in a:
    print("true")
else:
     print("no")

no

## slicing

In [28]:
# slicing the strings by the index
a= "hiphop,thamizha"
print (a[0:5])#012345
print (a[2:])#2-15
print (a[:5])#0-5
print (a[:])#0-15
print (len(a))#length of the string

hipho
phop,thamizha
hipho
hiphop,thamizha
15

## changing the or modify the strings

In [27]:
# upper case
a="jobin mark"
b="SABARIVASAN"
c = "thanigai:vel"
print(a.upper())
print(b.lower())
print(a.strip())# to remove "white space"(keyword-variable.strip()) it is the space are occur in beforce and after in actual txt.
print(b.replace("SABARIVASAN","madhumitha"))# to replace (key word-var.replace("",""))the char in strings.
print(c.split(":"))#to split the strings by the space present in strings.

JOBIN MARK
sabarivasan
jobin mark
madhumitha
['thanigai', 'vel']

## string format
# we cannot combine the string and mumber like this:

In [35]:
year=1978 
name="anna university since"+year
print(name) ## the error occurs

TypeError: can only concatenate str (not "int") to str

In [ ]:
name="anna university since"
year=" 1978" #concatenation two strings
print(name + year)

In [36]:
# its formatting a strings to put f before the strings add curly brackets{}
name =f"anna university since {year}"
year =1978
print(name)

anna university since 1978

In [39]:
## placeholders and modifiers
## add place holder for year in variable-name
name =f"anna university since {year} and is named after C. N. Annadurai "
year= 1978
print(name)

anna university since 1978 and is named after C. N. Annadurai

In [40]:
## the year in decimal
name =f"anna university since {year:3f} and is named after C. N. Annadurai "
year= 1978
print(name)

anna university since 1978.000000 and is named after C. N. Annadurai

In [41]:
## use maths operation in place holder
name =f"anna university since {year* 2} and is named after C. N. Annadurai "
year= 1978
print(name)

anna university since 3956 and is named after C. N. Annadurai